/* CSS for news feed */
@media screen and (max-width: 600px) {
  .card {
    width: 100vw;
    border-top: 1px solid lightgrey;
  }

  .postsFeed {
    padding-top: 9vh;
    padding-bottom: 7vh;
  }
  .container {
    margin-left: 1vw;
  }

  .post {
  }

  .account {
    display: flex;
    align-items: center;
  }

  .profilePictureFeed {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    margin: 2vw;
  }

  .userFeed {
    font-weight: bold;
  }

  .settingsIcon {
    font-size: 20px;
    color: black;
  }

  .uploadedPicture {
  }

  .photoFeed {
    width: 100vw;
    height: auto;
  }

  .likeButton {
    display: flex;
    justify-content: space-between;
  }

  .commentIcon {
    font-size: 30px;
    color: lightgray;
    margin-right: 3vw;
  }

  .likeFormFeed {
  }

  .numberOfLikes {
    display: flex;
    justify-content: space-between;
  }

  .numberLikes {
    display: flex;
  }

  .numberComments {
    display: flex;
    margin-right: 1vw;
  }

  .hart {
    margin: 0;
    background-color: none;
    height: 5vh;
    width: 10vw;
    border: none;
    border-radius: 5%;
    font-size: 16px;
  }

  .redHart {
    color: red;
    font-size: 30px;
  }

  .hartIconFeed {
    font-size: 30px;
    color: lightgray;
  }

  .likeCounterFeed {
  }

  .likesFeed {
    margin-left: 1vw;
  }

  .description {
    display: flex;
  }

  .descriptionFeed {
    margin-left: 1vh;
  }

  .button {
    background-color: lightgray;
    height: 5vh;
    width: 30vw;
    margin-top: 1vh;
    border-radius: 5%;
    font-size: 16px;
  }

  .uploadedTime {
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .uploadedFeed {
  }
}
