@media screen and (max-width: 600px) {
  .navbar {
    height: 7vh;
    width: 100vw;
    background-color: #fafafa;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbarIcon {
    /* background-color: transparent; */
    /* color: white; */
    color: black;
    font-size: 30px;
    padding: 0 5vw;
  }
}
