/* CSS for settings */
@media screen and (max-width: 600px) {
  .settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .labelSettings {
    margin-bottom: 1vh;
  }

  .profilePictureSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pictureSettings {
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    margin: 1vh;
  }

  .firstNameSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
  }

  .lastNameSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
  }

  .usernameSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
  }

  .bioSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
  }

  .emailSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
  }

  .confirmPasswordSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
  }

  .changePasswordSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
  }

  .deleteSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
  }

  .inputSettings {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: lightgray solid 1px;
    font-size: 15px;
  }

  .smallSettings {
    margin: 1vh;
  }
  .buttonSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
  }
}
